<!DOCTYPE html>
<html lang="pt-br">
    <%- include('preDefinicao.ejs') %>
<body>
    <%- include('navegacao.ejs') %>

    <main>
        <h1>Casino Cassalli</h1>
        <section id="about-me">Sobre o Bilhar
            <figure>
                <img src="./img/bilhar.jpg" alt="" height="180px">
            </figure>
            <p>O bilhar é um gênero de esportes jogados sobre uma mesa retangular (tradicionalmente de mogno, mas hoje frequentemente de materiais sintéticos) com número de pequenas bolas manejadas por um taco de bilhar.</p>
        </section>
    </main>
    
    <%- include('rodape.ejs') %>    
    </body>
</html>


  
  
