<!DOCTYPE html>
<html lang="pt-br">
    <%- include('preDefinicao.ejs') %>
<body>
    <%- include('navegacao.ejs') %>

    <main>
        <h1>Casino Cassalli</h1>
        <section id="about-me">Sobre a Dama
            <figure>
                <img src="./img/damas.jpg" alt="" height="180px">
            </figure>
            <p>Jogo de damas ou simplesmente damas é um jogo de tabuleiro. No Brasil e em Portugal é mais conhecida a versão de 64 casas (8 por 8), mas a versão mais conhecida mundialmente é a que usa um tabuleiro de 100 casas (10 por 10).</p>
        </section>
    </main>
    
    <%- include('rodape.ejs') %>    
    </body>
</html>


  
  
