<!DOCTYPE html>
<html lang="pt-br">
    <%- include('preDefinicao.ejs') %>
<body>
    <%- include('navegacao.ejs') %>

    <main>
        <h1>Casino Cassalli</h1>
        <section id="about-me">Sobre o Gamão
            <figure>
                <img src="./img/gamao.jpg" alt="" height="180px">
            </figure>
            <p>Gamão é um jogo de tabuleiro para dois jogadores, realizado num caminho unidimensional, no qual os adversários movem suas peças em sentidos contrários, à medida que jogam os dados e estes determinam quantas "casas" serão avançadas, sendo vitorioso aquele que conseguir retirar todas as peças primeiro (de onde pode ser tido como sendo também um "jogo de corrida" ou "de percurso").</p>
        </section>
    </main>
    
    <%- include('rodape.ejs') %>    
    </body>
</html>


  
  
