<header>
    <nav>
        <a href="/paginainicial"><img src="./img/cassino-logo.png" alt="Node" height="150px">
            <h1>Casino Cassalli</a></h1>
        <%links.forEach(element=> {%><a href=<%=element.href%>><b><%=element.label%></b></a> <%})%>
    </nav>
</header>