<!DOCTYPE html>
<html lang="pt-br">
    <%- include('preDefinicao.ejs') %>
<body>
    <%- include('navegacao.ejs') %>

    <main>
        <h1>Cassino Cassalli</h1>
        <section id="about-me">Sobre o Poquêr
            <figure>
                <img src="./img/poquer.jpg" alt="" height="180px">
            </figure>
            <p>Pôquer é um jogo de cartas jogado por duas ou mais pessoas muito comum em casinos. É considerado o jogo de cartas mais popular do mundo, e o mais popular entre uma classe de jogos nos quais os participantes utilizam as cartas de forma total ou parcialmente escondidas fazendo apostas para um monte central, após o resultante das apostas é atribuído ao jogador ou jogadores que possuir(em) o melhor conjunto de cartas entre os que permaneceram até o final da rodada, ou ao jogador restante caso os demais tenham desistido. </p>
        </section>
    </main>
    
    <%- include('rodape.ejs') %>    
    </body>
</html>


  
  
