<!DOCTYPE html>
<html lang="pt-br">
    <%- include('preDefinicao.ejs') %>
<body>
    <%- include('navegacao.ejs') %>

    <main>
        <h1>Casino Cassalli</h1>
        <section id="about-me">Sobre o Xadrez
            <figure>
                <img src="./img/xadrez.jpeg" alt="" height="180px">
            </figure>
            <p>Xadrez é um esporte, também considerado uma arte e uma ciência. Pode ser classificado como um jogo de tabuleiro de natureza recreativa ou competitiva para dois jogadores, sendo também conhecido como Xadrez Ocidental ou Xadrez Internacional para distingui-lo dos seus antecessores e de outras variantes atuais. A forma atual do jogo surgiu no sudoeste da Europa na segunda metade do século XV, durante o Renascimento, depois de ter se desenvolvido a partir de suas antigas origens persas e indianas. </p>
        </section>
    </main>
    
    <%- include('rodape.ejs') %>    
    </body>
</html>


  
  
